
# here i will be mentioning files which i do not want them to be sent over to the repo

public/css/train-ticket.css

*.txt


public/js/futureProject.js

ignorefeature/example.html


# Ignore NYC output
.nyc_output/
# Ignore coverage folder
coverage/

