
#specifying how git should treat certain folders & files


#for users who use different operating system this will normalize line endings

*.txt text


#preventing git from performing text-based operations to images 

*.png binary
*.zip binary
*.jpeg binary
*.jpg binary

#Treating the images as binary so that git doesnt read the files as texts
*.jpg binary
*.png binary

#applying line ending normalization to txt files for different operating systems
*.txt text

